<main>
  <%- include('../partials/adminSidebar') %>

  <div id="main-wrapper">
    <div class="bg-white shadow-sm p-3">
      <span class="me-3" id="sidebar-toggler-btn"
        ><i class="fas fa-bars"></i
      ></span>
      <h5 class="m-0 color-theme d-inline-block">Donation</h5>
    </div>

    <div
      class="m-4"
      style="
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 35px;
      "
    >
      <div
        class="bg-white mb-4 p-4"
        style="box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2)"
      >
        <div class="mb-2">
          <span style="font-weight: bold">Donor Name:</span>
          <span
            ><%= donation.donor.firstName + " " + donation.donor.lastName
            %></span
          >
        </div>

        <div class="mb-2">
          <span style="font-weight: bold">Food type:</span>
          <span><%= donation.foodType %></span>
        </div>
        <div class="mb-2">
          <span style="font-weight: bold">Food Image:</span><br /><br />

          <img
            src="/uploads/<%= donation.foodImage %>"
            alt="Uploaded Food Image"
            width="500px"
            height="300px"
          />
        </div>

        <div class="mb-2">
          <span style="font-weight: bold">Quantity:</span>
          <span><%= donation.quantity %></span>
        </div>

        <div class="mb-2">
          <span style="font-weight: bold">Time of cooking:</span>
          <span
            ><%= donation.cookingTime.toLocaleString("en-IN", { dateStyle:
            "medium", timeStyle: "short"}) %></span
          >
        </div>

        <div class="mb-2">
          <span style="font-weight: bold">Address to collect:</span>
          <span><%= donation.address %></span>
        </div>

        <div class="mb-2">
          <span style="font-weight: bold">Phone:</span>
          <span><%= donation.phone %></span>
        </div>

        <% if(donation.donorToAdminMsg != "") { %>
        <div class="mb-2">
          <span style="font-weight: bold">Message from Donor:</span>
          <div class="ms-3"><%= donation.donorToAdminMsg %></div>
        </div>
        <% } %>

        <div class="mb-2">
          <span style="font-weight: bold">Status:</span>
          <span class="fw-bold text-<%= donation.status %>"
            ><%= donation.status %></span
          >
        </div>

        <% if(donation.status == "assigned") { %>
        <div class="mb-2">
          <span style="font-weight: bold">Agent assigned:</span>
          <span
            ><%= donation.agent.firstName + " " + donation.agent.lastName
            %></span
          >
        </div>
        <% } %> <% if(donation.status == "assigned" && donation.adminToAgentMsg
        != "") { %>
        <div class="mb-2">
          <span style="font-weight: bold">Your message to Agent:</span>
          <div class="ms-3"><%= donation.adminToAgentMsg %></div>
        </div>
        <% } %> <% if(donation.status == "collected") { %>
        <div class="mb-2">
          <span style="font-weight: bold">Collection time:</span>
          <span
            ><%= donation.collectionTime.toLocaleString("en-IN", { dateStyle:
            "medium", timeStyle: "short"}) %></span
          >
        </div>
        <% } %>

        <div class="mt-4">
          <% if(donation.status == "pending") { %>
          <a href="/admin/donation/accept/<%= donation._id %>" class="btn"
            >Accept</a
          >
          <a
            href="/admin/donation/reject/<%= donation._id %>"
            class="btn btn-danger"
            >Reject</a
          >
          <% } else if(donation.status == "accepted") { %>
          <a href="/admin/donation/assign/<%= donation._id %>" class="btn"
            >Assign agent</a
          >
          <% } %>
        </div>
      </div>
    </div>
  </div>
</main>
